.dots-container {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9998;
    overflow: hidden;
  }
  
  .dot {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    opacity: 1;
    animation: falling linear infinite;
    pointer-events: none;
  }
  
  @keyframes falling {
    from {
      transform: translateY(-10vh);
    }
    to {
      transform: translateY(100vh);
    }
  }
  